[Container]
ContainerName=dind
AutoUpdate=registry

Exec=dockerd -H tcp://0.0.0.0:2375 '--tls=false'
Image=docker.io/docker:dind
PodmanArgs=--privileged

Network=forgejo.container
[Service]
Restart=always

# vim: set filetype=systemd

#/* vim: set filetype=systemd: */
