[Unit]
Requires=dind.service forgejo.service
After=dind.service forgejo.service

[Container]
Image=data.forgejo.org/forgejo/runner:9
AutoUpdate=registry
ContainerName=forgejo-runner

Environment=DOCKER_HOST=tcp://dind:2375

Exec=/bin/sh -c 'sleep 5; forgejo-runner daemon'

Volume=forgejo-runner-data:/data

Network=forgejo.container
[Service]
Restart=always

#/* vim: set filetype=systemd: */
