[Container]
ContainerName=forgejo
Image=codeberg.org/forgejo/forgejo:12
AutoUpdate=registry

Environment=USER_UID=1000 USER_GID=1000
Environment=FORGEJO__repository__ENABLE_PUSH_CREATE_USER=true
Environment=FORGEJO__repository__ENABLE_PUSH_CREATE_ORG=true

PublishPort=3003:3000
PublishPort=3103:22

Volume=forgejo:/data

[Service]
Restart=always

KeyringMode=Private
RestrictSUIDGUID=yes
UMask=0077
LockPersonality=yes
RestrictRealtime=yes
MemoryDenyWriteExecute=yes

#CapabilityBoundingSet=~CAP_SYS_PTRACE

#ProtectSystem=strict
#PrivateTmp=yes

#ProtectHome=yes 
#or for services that complain about R/W on an unnecessary home dir
#ProtectHome=tmpfs
#ProtectClock=yes
#ProtectKernelLogs=yes
#ProtectKernelModules=yes
#User=lippiece
#DynamicUser=yes 
[Install]
WantedBy=default.target
