[Container]
ContainerName=jackett
Image=docker.io/linuxserver/jackett:latest
AutoUpdate=registry

PublishPort=9117:9117

Volume=jackett_config:/config
Volume=jackett_downloads:/downloads

Environment=PUID=1000 PGID=1000 TZ=Etc/UTC

Network=host

[Service]
Restart=always

[Install]
WantedBy=default.target

#/* vim: set filetype=systemd: */
