[Container]
ContainerName=nodered
Image=docker.io/nodered/node-red:latest-22
AutoUpdate=registry

PublishPort=3005:1880

Volume=nodered:/data

[Service]
Restart=always

[Install]
WantedBy=default.target
