[Container]
Image=docker.io/searxng/searxng:latest
AutoUpdate=registry

PublishPort=3001:8080

Volume=searxng-settings:/etc/searxng/

DNS=9.9.9.9

[Service]
Restart=always

KeyringMode=Private
RestrictSUIDGUID=yes
UMask=0077
LockPersonality=yes
RestrictRealtime=yes
MemoryDenyWriteExecute=yes
[Install]
WantedBy=default.target

#/* vim: set filetype=systemd: */
