[Container]
ContainerName=synapse
Image=docker.io/matrixdotorg/synapse:latest

#Exec=generate

Volume=synapse_data:/data

PublishPort=4200:8008

EnvironmentFile=synapse.env

AutoUpdate=registry

[Service]
Restart=always

[Install]
WantedBy=default.target
