[Container]
ContainerName=synapse
Image=docker.io/matrixdotorg/synapse:latest

#Exec=generate

Volume=synapse_data:/data

PublishPort=4200:8008
PublishPort=4201:8009
PublishPort=4202:8448
Network=synapse.network

EnvironmentFile=synapse.env

AutoUpdate=registry

DNS=9.9.9.9

[Unit]
Wants=mas.service mas-db.service element-call-livekit.service element-call-jwt.service

[Service]
Restart=always

[Install]
WantedBy=default.target
